* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
    background-color:  #e4e5e7;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
  }

/* Se a tela tiver pelo menos 400 px 
vai carregar esses estilos*/
@media (min-width: 400px) {
body{
  font-size: 12px;
}
}
/* Se a tela tiver pelo menos 600 px 
vai carregar esses estilos*/
@media (min-width: 600px) {
  body{
    font-size: 18px;
  }
  
  }
header{
    
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
  margin-top: 2em;
}
header div p{
  text-align: center; 
  margin: 1em;
  color: #123d8c;
}
header .container {
  text-align: center;
}
@media (max-width: 400px) {
  header .container img {
    width: 100px;
    height: 100px;
  }
}

.menu {
    background-color: #4764e6 ;
    position: fixed;
    top: 0;
    display: block;
    padding: 10px 20px;
    width: 50%;
    border-radius: 2em;
  }
@media(max-width: 400px){
  .menu {
    background-color: #4764e6 ;
    position: fixed;
    top: 0;
    display: block;
    padding: 10px 20px;
    width: 100%;
    border-radius: 1em;
  }
  .sobre{
    height: 1150px;
  }
}
  
.menu ul{
    display: flex;
    justify-content: space-around;
  }
  
.menu li{
    list-style: none;
  }

.menu li a{
    text-decoration: none;
    color: #e4e5e7;
    font-size: 1.1em;
  }
  
menu li a:hover{
    text-decoration: underline;
  }
header div.container{
  display: block;
}
.sobre p,
.sobre h2{
  color: #123d8c;
  text-align: center;
  margin: 2em;
}
.img-circle{
  border-radius: 50%
}
.site-title, 
.site-subtitle {
    color:#5dbde9;
    text-align: center;
    font-size: 2em;
  }
.site-subtitle {
    font-style: italic;
    line-height: 1.8em;
  }

.portfolio,
.contato {
  margin-bottom: 3em;
  padding: 2em;
}
.portfolio figure,
.contato figure{
  text-align: center;
}
.portfolio h2,
.contato h2{
  font-family: 'Crimson Text', serif;
  font-size: 2.5em;
}
.portfolio .grid,
.contato .grid{
  display: grid;
  margin-top: 2em;
  gap: 1em;
  
}
@media(min-width: 600px){
  .portfolio .grid,
  .contato .grid{
  grid-template-columns: repeat(2, 240px) ;
  justify-content: center;
  height: 580px;
  }
}
@media(min-width: 900px){
  .portfolio .grid,
  .contato .grid{
  grid-template-columns: repeat(2, 400px) ;
  justify-content: center;
  align-content: center;
  }
  header,
.sobre,
.portfolio
.contato{
  height: 700px;
}
}
@media(min-width: 1200px){
  .portfolio .grid,
  .contato .grid{
  grid-template-columns: repeat(4, 280px);
  }
}

.img-portfolio{
    padding: 2em;
    height: 250px;
    width: 250px; 
  }
@media(min-width: 900px){
  .img-portfolio{
    height: 300px;
    width: 300px; 
  }
}
section h2{
    text-align: center;
  }